/*
Project Name: portfolio
Author: Laura Reseigh
*/


/******************************************
/* SETUP
/*******************************************/


/*colors
#1baabf is blue
#898388 is gray
#b63a9e is pink



/* Clear fix hack */
#clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}


/******************************************
/* BASE STYLES
/*******************************************/

body {
    width: auto;
    margin: auto;
    font-size: 16px;
    line-height: 1.4;
    font-family: 'Open Sans', sans-serif;

}

p{
  font-size: 14px;
  font-weight: 300;
  color: #898388;
  margin-bottom: 1%;
}

h2{
  font-size: 18px;
  font-weight: 600;
  color: #1baabf;

}

h3{
  font-size: 16px;
  font-weight: 300;
  color: #898388;
  padding-bottom: 1%;

}


footer{
  float: left;
  font-size: 14px;
  font-weight: 300;
  color: white;
  margin: 0;
  padding-top: 0;
  background-color: #1baabf;
  width: 100%;
  padding: 1%;
  clear: both;

}

.break{
   float: left;
   background-color: #1baabf;
   margin: .5% 0 1% 0;
   width: 100%;
   height: 50px;

}

/******************************************
/* LAYOUT
/*******************************************/


header {
  background-color: white;
  width:100%;
  height:100px;
  margin: 0;
  padding: 10px 0 0 0;
}

/*mobile phone width*/
.logo{
  width:100%;
  font-size: 20px;
  font-weight: 600;
  color: #1baabf;
  margin: 1% 0 0 3%;
  padding-top: 1%;
}

/*larger than phone width*/
@media screen and (min-width: 480px) {
.logo{
  width: 100%;
  font-size: 20px;
  display: block;
  clear: both;
  }
}


  /*larger than tablet width*/
@media screen and (min-width: 768px) {
.logo{
  width:60%;
  float: left;
  font-size: 24px;
  font-weight: 600;
  color: #1baabf;
  margin: 0 0 0 3%;
  padding-top: 1%;
  }
}

/*mobile phone width*/
  .nav {
    width:100%;

    }


/*larger than mobile width*/
@media screen and (min-width: 480px) {
  .nav {
  width:100%;

  }
}


  /*larger than tablet width*/
@media screen and (min-width: 768px) {
  .nav {
  width:25%;
  float: right;
  padding: 0;
  margin-right: 0%;
  padding-top: 1%;
  }
}

.nav li {
  display: inline;
  text-decoration: none;
  color: #898388;
  font-size: 24px;
  font-weight: 300;
  padding-left: 3%;
  margin-right: 2%;

}

.nav li last-child{
  margin-right: 0;
}

.nav a{
  text-decoration: none;
  color: #898388;
}


.nav a:hover{
  color: #1baabf;
}

.nav .index{
  text-decoration: none;
  color: #1baabf;
}




/* magenta color #b63a9e 

/******************************************
/* HOME PAGE LAYOUT
/*******************************************/

.break{
  width: 100%;
}

/*mobile phone width*/
.size {
/*  background-color: gray;*/
  float: left;
  height: 150px;
  margin: 1% 0;
  padding: 0;
  width: 100%;
}

/*larger than phone*/
@media screen and (min-width: 480px) {
  .size {
    float: left;
    height: 150px;
    margin: 1%;
    padding: 0;
    width: 48%;

  }
}

/*larger than tablet*/
@media screen and (min-width: 768px) {
  .size {
    float: left;
    height: 200px;
    margin: .5%;
    padding: 0;
    width: 19%;

  }
}

.thumbs-1{
    background-image: url("../img/iis-thumb.jpg");
    background-size: 150%;
    background-position: center;
    background-repeat: no-repeat;
}

.thumbs-2{
    background-image: url("../img/adweek-vending2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.thumbs-3{
    background-image: url("../img/dotnyc-1200x628-fb-foodorder.jpg");
    background-size: 300%;
    background-position: center left;
    background-repeat: no-repeat;
}

.thumbs-4{
    background-image: url("../img/dotnyc-phone-hello1.jpg");
    background-size: 120%;
    background-position: center top;
    background-repeat: no-repeat;
}

.thumbs-5{
    background-image: url("../img/dotco-color-cover.jpg");
    background-size: 200%;
    background-position: center;
    background-repeat: no-repeat;
}

.thumbs-6{
    background-image: url("../img/zappos2.jpg");
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
}

.thumbs-7{
    background-image: url("../img/cnam-act2.jpg");
    background-size: 250%;
    background-position: center;
    background-repeat: no-repeat;
}

.thumbs-8{
    background-image: url("../img/smarty-pants.jpg");
    background-size: 250%;
    background-position: center;
    background-repeat: no-repeat;
}

.thumbs-9{
    background-image: url("../img/factpack2-jody.jpg");
    background-size: 200%;
    background-position: top right;
    background-repeat: no-repeat;
}

.thumbs-10{
    background-image: url("../img/triangle-hippie.jpg");
    background-size: 150%;
    background-position: center right;
    background-repeat: no-repeat;
}

.thumbs-11{
    background-image: url("../img/superhero3.jpg");
    background-size: 200%;
    background-position: top left;
    background-repeat: no-repeat;
}

.thumbs-12{
    background-image: url("../img/sp-summer.jpg");
    background-size: 250%;
    background-position: center;
    background-repeat: no-repeat;
}

.thumbs-13{
    background-image: url("../img/paisleysun-1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.thumbs-14{
    background-image: url("../img/aa-geek-hp.jpg");
    background-size: 150%;
    background-position: center;
    background-repeat: no-repeat;
}

.thumbs-15{
    background-image: url("../img/olqs-all-2009.jpg");
    background-size: 150%;
    background-position: center;
    background-repeat: no-repeat;
}

.thumbs-16{
    background-image: url("../img/dotus-spaceapps.jpg");
    background-size: 150%;
    background-position: center;
    background-repeat: no-repeat;
}

.thumbs-17{
    background-image: url("../img/realworld-photo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.thumbs-18{
    background-image: url("../img/wagners3-phone.jpg");
    background-size: 150%;
    background-position: center;
    background-repeat: no-repeat;
}

.thumbs-19{
    background-image: url("../img/gumball-mask.jpg");
    background-size: 150%;
    background-position: center top;
    background-repeat: no-repeat;
}

.thumbs-20{
    background-image: url("../img/sayyes.jpg");
    background-size: 300%;
    background-position: center;
    background-repeat: no-repeat;
}



/******************************************
/* About
/*******************************************/

/*phone*/
#about{
  margin: 0 2%;
  padding: 0;
  width: 100%;

}

/*larger than phone*/
@media screen and (min-width: 480px) {
  #about{
  margin: 3% 0 1% 3%;
  }
}

/*phone*/
  #about p{
  margin: 1% 3% 2% 3%;
  padding: 0%;
}

/*larger than phone*/
@media screen and (min-width: 480px) {
  #about p{
  margin: 1% 0 0 0;
  padding: 0;
  }
}

#about ul{
  margin: 0 auto;
}

#about li {
    display: inline;
    font-size: 35px;
    margin-right: 15px;
}

#about a {
  color: #1baabf;
}

#about a:hover {
    color: #b63a9e;
}


/******************************************
/* DETAIL PAGE LAYOUT with sidebar
/*******************************************/

/*#detail-images{
  width: 55%;
  float: left;
  margin: 2% 0 5% 5%;

}*/

#details{
/*  float: left;
*/ 
  width: 100%;
  margin: 0;
  padding: 0;

}


a.controls {
  text-decoration: none;
  color: #1baabf;
}


a.controls:hover{
  color: #b63a9e;
  text-decoration: underline;
}

a.controls:visited{
 text-decoration: none;
  color: #1baabf;
}



/*mobile phone width*/
#project-images {
  float:left;
  margin: 0 0 3% 0;
  padding: 0;
  width: 98%;
}



/*larger than phone*/
@media screen and (min-width: 480px) {
  #project-images {
    float:left;
    width: 55%;
    height: auto;
    background-color: white;
    margin: 0 0% 2% 0;
    padding: 0% 5%;

  }
}



/*mobile phone width*/
#project-content {
  float: right;
  margin: 5% 2% 1% 2%;
  padding: 0;
  width: 96%;
}


/*larger than phone*/
@media screen and (min-width: 480px) {
#project-content{
  width: 30%;
  float: left;
  margin: 1% 1% 5% 0;
  }
}


#project-name{
  font-size: 16px;
  font-weight: 600;
  color: #1baabf;

}

#client-name{
  font-size: 16px;
  font-weight: 300;
  color: #898388;
  padding-bottom: 1%;

}


#project-copy{
  font-size: 14px;
  font-weight: 300;
  color: #898388;
  margin-right: 0;
  margin-bottom: 3%;
  line-height: 150%;
  
}

/*#project-images img{
  margin-bottom: 1%;
  margin-left: 3%;
  border: 1px lightgray solid;
  padding: 0%;
}*/


